body {
    background-image: url(https://2.bp.blogspot.com/jfPLSYvk6G7DkohRG3k5fUgqAWbBFDd8wfV4kNROYbLRzoALzk9dq01Z7fsQZOc5SD6WUETHNPzMjeV7ghJa_uRjoo4gQWs43UnZYG4Cp_TlAMNPM5hWdB-2uvANqaxyGJoy2OmQ1Kh_lUqt5yvjAuPHwaZp1qQZrxHvK2pTBIbXHeGZ1HiulAIg_envHE9mXfskkfbPaEOExh1DylQ-vCcbOhJOzPPTvSGbL-GlQ3r8Aiezbv3ObUcIyYORNXXcU7wT1a0yF-UV_I5IsFeTaxZe0-WXOWYTA0HKm72S9OAogXb9fpajFnRyeWPxTAwT4Kba2meClVmu6DEhctSdaTb8VrC4z2u-dYuj7h7Eh9GmsPtq9ccLo938fhZBsb6squNKOFlUgIUhVefCNotQfd1Int7ReSKLfyD3w43aP6R6AD384JBvbFVNec-JNzTRJajKLwRxVeDpKWDnHcZ6bq6_8uEBPkQMAjHUxkdwRABPqs4e8FEBFhXWvJXXY1FRcH8EZIGfSdL87XjXKv7pXpvaBLedv7XdWQ_HdJagX3woB4oBdVpcZ2tJHMlu736gjtCn0efpNAhtEVLMqwtomGE96zw1rgUhas2NBoaK6yrhP7YbvMnWTscsR0fagcxJ=w1416-h944-no);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    padding-bottom: 60px;
}

/*  --- STOPKA ---*/
.main-footer li {
    display: inline;
}

.main-footer img {
    width: 25px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
    align-content: right;
    cursor: pointer;
   
}
.main-footer h4 {
    float: left;
    padding: 10px;
}
.main-footer p {
    float: left;
    margin-top: 13px;
    margin-left: 30px;
    margin-right: 5px;
    height: 30px;
}
/*  --- ! STOPKA ---*/

/*  --- KONTAKT ---*/
.contact-formular {
    background-image: url(/images/motorcycle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 85vh;
    opacity: 1;
}

.contact-formular h1 {
    margin-top: 60px;
    margin-left: 20%;
}

.contact-guide {
    background-image: url(/images/motorcycle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 85vh;
    opacity: 1;
}

.contact-guide h1 {
    margin-top: 60px;
    margin-left: 20%;
}

.fieldset-contact {
    opacity: 0.9;
    margin-left: 30%;
    width: 400px;
	background: rgb(219, 190, 23);
	color: rgb(44, 51, 50);
	border-radius: 25px;
	/* margin-border: 25px; */
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}

.form-email {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
}

.form-message {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
}

.contact-btn {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100px;
}

.form-check {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
}
/*  --- ! KONTAKT ---*/

/*-- PODRÓŻE --*/
.travel-section {
    margin-left: 5%;
    margin-top: 25px;
}

.travel-container {
    height: 350px;
    width: 556x;
    border-radius: 20px;
}
.travel-container img {
    width: 540px;
    height: 300px;
    padding: 10px;
}
/*-- ! PODRÓŻE --*/
