body {
    background-image: url(./images/motorcycle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    padding-bottom: 60px;
}

/*  --- STOPKA ---*/
.main-footer li {
    display: inline;
}

.main-footer img {
    width: 25px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
    align-content: right;
    cursor: pointer;
   
}
.main-footer h4 {
    float: left;
    padding: 10px;
}
.main-footer p {
    float: left;
    margin-top: 13px;
    margin-left: 30px;
    margin-right: 5px;
    height: 30px;
}
/*  --- ! STOPKA ---*/

/*  --- KONTAKT ---*/
.contact-formular {
    background-image: url(/images/motorcycle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 85vh;
    opacity: 1;
}

.contact-formular h1 {
    margin-top: 60px;
    margin-left: 20%;
}

.contact-guide {
    background-image: url(/images/motorcycle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 85vh;
    opacity: 1;
}

.contact-guide h1 {
    margin-top: 60px;
    margin-left: 20%;
}

.fieldset-contact {
    opacity: 0.9;
    margin-left: 30%;
    width: 400px;
	background: rgb(219, 190, 23);
	color: rgb(44, 51, 50);
	border-radius: 25px;
	/* margin-border: 25px; */
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}

.form-email {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
}

.form-message {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
}

.contact-btn {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100px;
}

.form-check {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
}
/*  --- ! KONTAKT ---*/

/*-- PODRÓŻE --*/
.travel-section {
    margin-left: 5%;
    margin-top: 25px;
}

.travel-container {
    height: 350px;
    width: 556x;
    border-radius: 20px;
}
.travel-container img {
    width: 540px;
    height: 300px;
    padding: 10px;
}
/*-- ! PODRÓŻE --*/
